{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="login-overlay"></div>
    <h1 class='text-center mt-4'>Login to Johns Pizza</h1>
    <div class="form-container shadow p-5">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group"> 
                <legend class="border-bottom mb-4">Welcome Back</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info">Sign In</button>
            </div>
            <div class="border-top mt-3 p-3">
                <p>Need an account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a></p>
            </div>
        </form>
    </div>
{% endblock content %}
