{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<header class="banner">
    <div class="overlay">
    </div>
</header>
<section class="container menu text-center">
    <h2 class="mt-4">Menu</h2>
    <hr class="mt-3">
    {% for food, data in foods.items %}
    <!--menu item-->
    <div class="menu-category shadow mb-4">
        <h4 data-type="{{ forloop.counter }}">{{ food }}</h4>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Style</label>
            </div>
            <select data-id='{{ forloop.counter }}'  class="custom-select" id="inputGroupSelect01">
                {% for choice in data.0.name %}
                <option value="{{choice}}">{{choice}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Toppings</label>
            </div>
            <select data-id='{{ forloop.counter }}' class="custom-select" id="inputGroupSelect01">
                {% for choice in data.0.toppings %}
                <option value="{{choice}}">{{choice}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Size</label>
            </div>
            <select data-id='{{ forloop.counter }}' class="custom-select" id="inputGroupSelect01">
                {% for choice in data.0.size %}
                <option value="{{choice}}">{{choice}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Quantity</label>
            </div>
            <input data-id='{{ forloop.counter }}' type="number" class="form-control">
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input id="item-amount-{{ forloop.counter }}" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                  </div>
            </div>
            <div class="col-md-3">
                <button type="button" id="check-item" class="btn btn-primary form-control" data-number='{{ forloop.counter }}'>Check Price</button>
            </div>
            <div class="col-md-3">
                <button type="button" id="add-item" data-order='{{ forloop.counter }}' class="btn btn-success form-control">Add to Order</button>
            </div>
        </div>
    </div>
    {% endfor %}
    <!--end menu item-->
    </div>
</section>
{% endblock content %}