@import url('https://fonts.googleapis.com/css?family=Lato');

$nav-height: 60px;
$header-height: 400px;
$menu-item-height: 275px;
$form-width: 500px;
$footer-height: 56px;
$px-sm: 5px;
$px-md: 10px;
$px-lg: 15px;
$px-xl: 20px;
$red: #e74c3c;

html {
    font-family: 'Lato', sans-serif !important;
    padding-top: $nav-height;
}

nav {
    padding: 0 !important;
    ul {
        padding: 0 !important;
    }
    li {
        margin: 0 !important;
        padding: $px-md;
        &:hover {
            background: rgb(226, 226, 226);
        }
    }
}

header {
    background: url('../img/banner.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: $header-height;
    .overlay {
        position: absolute;
        z-index: 2;
        height: $header-height;
        width: 100%;
        background: rgba(0, 0, 0, 0.253);
    }
}

.menu {
    margin-bottom: $footer-height * 2 !important;
    img {
        width: auto;
        height: $menu-item-height;
        margin-left: -85px;
    }
    h4 {
        font-weight: 400;
    }
    h2 {
        font-weight: 700;
    }
    .menu-category {
        padding: $px-lg;
        background: #fff;
        border-radius: $px-md;
        overflow: hidden;
        border: 1px solid #c9c9c9;
    }
    .input-group {
        padding-left: $px-xl;
        padding-right: $px-xl;
    }
    .col-md-9 {
        padding: $px-lg;
    }
    .col-md-3 {
        overflow: hidden;
        border-radius: $px-lg;
    }
}

.form-container {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: $form-width;
    background: #fff !important;
    border-radius: $px-md;
}

.fa-shopping-cart {
    margin: $px-md;
}

#shop-dropdown {
    position: absolute;
    width: 400px;
    top: $nav-height !important;
    left: -340px !important;
}


