$header-height: 400px;
$menu-item-height: 275px;
$footer-height: 80px;
$px-sm: 5px;
$px-md: 10px;
$px-lg: 15px;
$px-xl: 20px;

header {
    background: url('../img/banner.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: $header-height;
    .overlay {
        position: absolute;
        z-index: 2;
        height: $header-height;
        width: 100%;
        background: rgba(0, 0, 0, 0.253);
    }
}

.menu {
    margin-bottom: $footer-height * 2 !important;
    img {
        width: auto;
        height: $menu-item-height;
        margin-left: -85px;
    }
    h4 {
        font-weight: 400;
    }
    h2 {
        font-weight: 700;
    }
    .menu-category {
        height: $menu-item-height;
        background: #fff;
        border-radius: $px-md;
        overflow: hidden;
    }
    .input-group {
        padding-left: $px-xl;
        padding-right: $px-xl;
    }
    .col-md-9 {
        padding: $px-lg;
    }
    .col-md-3 {
        overflow: hidden;
        border-radius: $px-lg;
    }
}

footer {
    height: $footer-height;
    padding: $px-lg;
    background: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    p {
        margin-top: $px-md; 
    }
}